body{
    /* background-color: rgb(9, 16, 79); */
    background-image: url(bckgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:10px;
    padding-left:5px;
    color:rgb(13, 12, 13);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(159, 48, 139,0.5);
    padding-top:9px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-right{
    justify-content: space-between;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.logo{
    width:60px;
    border-radius: 50%;
    height:60px;
    margin-right: 0px;
}
a{
    margin:10px;
    text-decoration-line: none;
    color:aliceblue;
}
.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    /* flex-wrap: wrap; To handle small screens */
}

.icon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
hr{
    height:3px;
    background-color: rgb(243, 244, 246);
}
.about{
    font-size:large;
}
.a1{
    border-radius: 4px;
    /* background-color: rgb(178, 239, 154); */
    padding-left: 10px;
    padding-bottom: 5px;
}
.a2{
    border-radius: 4px;
    /* background-color: rgb(131, 220, 240); */
    padding-left: 10px;
    padding-bottom: 5px;
}
.a3{
    border-radius: 4px;
    /* background-color: rgb(237, 147, 194); */
    padding-left: 10px;
    padding-bottom: 5px;
}
.skills{
    /* display: flex; */
    /* justify-content: space-between;*/
    align-items: start; 
    margin-bottom: 40px;
}
/*
.skills2{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
#css,#python,#oops,#js{
    width:150px;
    height: 150px;
    margin:30px;
    
}
#html,#sql{
    width:150px;
    height: 150px;
    margin:30px;
    border-radius: 50%;
}
/* #html{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
} */
h3{
    display: flex;
    justify-content: center;

}
.insta,.gmail{
    width:50px;
    height:50px;
    margin-right:20px ;
}
.linkedin{
    width:50px;
    height:50px;
    margin-right: 20px;
    border-radius: 9px;
}
.icon1{
    display: flex;
    padding-left: 100px;
    justify-content: center;
    padding-right: 30px;
    
}

.cert{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.guvi,.cosc,.infspr,.devtown{
    width:200px;
    height:200px;

}
.items11 {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.cod{
    color:black;
}
.skill-card {
    border: 1px solid #131212;
    border-radius: 10px;
    width:27%;
    float: left;
    padding: 20px;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}
.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.skill-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.connect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj_link{
    color: black;
}
.proj_link a:hover{
    color:red;
}
li{
    padding: 5px;
}